.controls{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.button{
    background-color: inherit;
    border: none;
    color: inherit;
    font-size: 1.5em;
    cursor: pointer;
}

.button-navigation{
    font-size: 3em;
}

.button-player{
    font-size: 4em;
}