.controls{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.button{
    font-size: 1.5em;
}

.button-navigation{
    font-size: 3em;
}

.button-player{
    font-size: 4em;
}