.playlist-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.song-name{
    font-weight: bolder;
    font-size: 23px;
}

.artist-name{
    font-size: 14px;
}

.light-color{
    color: #8B999C;
}