.player-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 415px;
    color: white;
    padding: 10px;
    margin: 0 auto;
}

.playlist-cover{
    width: 415px;
}