.progress-bar{
    background-color: #8B999C;
    height: 2px;
    width: 100%;
}

.current-progress{
    --progress: 0%;
    background-color: #fff;
    height: inherit;
    width: var(--progress);
}

.progress-bar-container{
    cursor: pointer;
}

.time-song-container{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 5px;
}